<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/dpto.css">
    <title>Salta Calendar</title>
</head>
<body>
    <main>
        <h2>CACHI</h2>
        <div class="template">
            <div class="area-datos">
                <div class="card">Descripción
                    <p>Cachi es un pintoresco departamento, conocido por su belleza natural. El área ofrece paisajes montañosos, valles verdes y encantadores pueblos. Cachi es famoso por su arquitectura colonial, iglesias históricas y la Ruta Nacional 40 que atraviesa la región, atrayendo a turistas en busca de aventuras y cultura.</p>
                </div>
                <div class="card">¿Sabías que...
                    <p>Cachi es hogar de la Iglesia de San José, cuyo altar es de oro y se construyó en el siglo XVIII.</p>
                </div>    
            </div>
            <div class="ubicacion">Ubicación</div>
        </div>
        <div class="caracteristicas">
            <div class="card-area">ECOTURISMO</div>
            <div class="card-area">RELIGIÓN</div>
            <div class="card-area">HISTORIA</div>
        </div>
        <div class="caracteristicas">
            <div class="card-area">GALERIA DE FOTOS</div>
            <div class="card-area">¿CÓMO LLEGAR?</div>
            <div class="card-area">GASTRONOMÍA</div>
        </div>

        <div class="template">
            <h4>Redes sociales</h4>
            <img src="/assets/fa.svg" alt="facebook" class="icono">
            <img src="/assets/ins.svg" alt="instagram" class="icono">
            <img src="/assets/tw.svg" alt="twitter" class="icono">
        </div>
    </main>
</body>
</html>