<div class="info" id="infoEcoturismo">
    <h2>Ecoturismo </h2>
        <div class="template">
            <div class="area-info">
                <div class="flora">
                    <h3>Flora</h3>
                    <p>La flora de Cachi, en Salta es diversa y exuberante. El entorno montañosos y el clima semiárido de la región crean un ecosistema único. Encontramos cactus altos, como el cardón, que dominan el paisaje, junto con arbustos resistentes a la sequía como el chanar y el molle. Además, hay numerosas especies de hiervas silvestres y flores de colores vibrantes, como la jarilla y el alpataco. En las zonas más húmedas, los álamos y sauces bordean los arroyos y ríios que atraviesan la región. En conjunto, la flora de Cachi ofrece una hermosa paleta de colores y formas en medio de un paisaje árido y montañoso</p>
                    <h4>Principales especies</h4>
                </div>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="../assets/iconos/ecoturismo/cardon.jpg">
                <img src="../assets/iconos/ecoturismo/cardon.jpg">
            </div>
            <div class="imagenes">
                <img src="../assets/iconos/ecoturismo/cardon.jpg">
                <img src="../assets/iconos/ecoturismo/cardon.jpg">
            </div>
        </div>
    </div>
</div>
<div class="template">
    <div class="area-info">
        <div class="fauna">
            <h3>Fauna</h3>
            <p>La fauna de Cachi es tan diversa como su flora. En los paisajes montañosos y semiáridos se encuantran animales adaptados a condiciones desafiantes., Entre ellos, destacan guanacos y vicuñas emblemáticos de la región andina. También habitan zorros, pumas y aves como cóndores y ágilas, que surcan los cielos. Los cusos de agua albergan truchas y otras especies acuáticas. La rica diversidad de Cachi se ve influenciada por la altitud y la variada topografía, creando un hábitad único donde la vida silvestre se adapta a la aridez y majestuosidad de los Valles Calchaquies.</p>
            <h4>Principales especies</h4>
        </div>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="../assets/iconos/ecoturismo/guanaco.jpg">
                <img src="../assets/iconos/ecoturismo/guanaco.jpg">
            </div>
            <div class="imagenes">
                <img src="../assets/iconos/ecoturismo/guanaco.jpg" alt="">
                <img src="../assets/iconos/ecoturismo/guanaco.jpg" alt="">
            </div>
        </div>
    </div>