
<h2>departamento</h2>

<div>
    <h4>Descripcion</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium non vero quos repellendus illum quasi sed veritatis enim rem. Sed possimus laudantium odit magni saepe aut beatae eligendi officiis id?</p>
</div>
<div>
    <h4>Sabias que</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo veniam doloremque, placeat ipsum accusamus eum officia veritatis ullam consequatur ex. Sit vel hic, tempore quibusdam labore asperiores veniam consequatur quae.</p>
</div>

