<h2>Gastronomia</h2>
<p>La gastronomía de Cachi refleja la riqueza de la cultura andina y la influencia de la región de Salta. Destacan platos tradicionales como la empanada salteña, rellena de carne, papas y especias. La carne de llama o cabra se prepara en deliciosos guisos y asados, resaltando sabores autóctonos. El locro, una sopa espesa de maíz, carne y vegetales, es una delicia reconfortante. Acompañando estas exquisiteces, los vinos de la zona, especialmente los tintos de altura, complementan la experiencia culinaria. La cocina de Cachi ofrece un festín que fusiona tradición, ingredientes locales y la calidez de la cultura andina.</p>

<h3>Platos principales</h3>
<div class="photo-gallery">
    <div class="photo">
        <p>Plato</p> 
    </div>
    <div class="photo">
        <p>Plato</p> 
    </div>
    <div class="photo">
        <p>Plato</p> 
    </div>
    <div class="photo">
        <p>Plato</p> 
    </div>
</div>
