<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/lugares.css">
    <title>Lugares</title>
</head>
<body>
    <header class="header">
        <nav>
            <ul class="menu">
                <div class="logo">
                    <img src="../assets/iconos/saltacalendar_logo.png" alt="saltacalendar_logo" class="icono">
                    <h1>Salta Calendar</h1>
                </div>
                <li><a href="/index.html">Calendario</a></li>
                <li><a href="#" class="active">Lugares</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="main-container">
        <h2>Nuestros Departamentos</h2>
      <div class="Contenedor">
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Anta/carrusel_rn_pizarro_02.jpg" alt="ANTA">
                <div class="overlay">
                    <a href="/templates/dptos/anta.html">ANTA</a>
                </div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Cachi/Cachi.jpg" alt="Cachi">
                <div class="overlay">
                    <a href="/templates/dptos/cachi.html">CACHI</a>
                </div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Cafayate/cafayate.jpg" alt="Cafayate">
                <div class="overlay">CAFAYATE</div>
            </div>
        
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Capital/Catedral_de_Salta_Capital.jpg" alt="Capital">
                <div class="overlay">CAPITAL</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Cerrillos/cerrillos.jpg" alt="Cerrillos">
                <div class="overlay">CERRILLOS</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Chicoana/chicoana-salta.jpg" alt="Chicoana">
                <div class="overlay">CHICOANA</div>
            </div>
       
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/General Güemes/80939039Master.jpg" alt="Guemes">
                <div class="overlay">GRAL. GÜEMES</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Gral. José de San Martín/52834-departamento-oran-san-martin-y-guemes-dejan-de-estar-aislados.jpg" alt="General San Martin">
                <div class="overlay">GRAL. JOSE DE SAN MARTIN</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Guachipas/Guachipas 2.jpg" alt="Guachipas">
                <div class="overlay">GUACHIPAS</div>
            </div>
        
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Iruya/CaminoSanIsidro.jpg">
                <div class="overlay">IRUYA</div>
                    <a href="/templates/dptos/iruya.html">IRUYA</a>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/La Caldera/La Caldera, camino al dique.JPG">
                <div class="overlay">LA CALDERA</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/La Calendaría/dsc_0492.jpg">
                <div class="overlay">LA CANDELARIA</div>
            </div>

            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/La Poma/la-poma-puente-del-diablo-3.jpg">
                <div class="overlay">LA POMA</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/La Viña/LaViña.jpg">
                <div class="overlay">LA VIÑA</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Los Andes/Tolar grande.jpg">
                <div class="overlay">LOS ANDES</div>
            </div>

            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Metán/Metán.jpg">
                <div class="overlay">METAN</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Molinos/Molinos.jpeg">
                <div class="overlay">MOLINOS</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Orán/matias_Ramos_Selvas.jpg">
                <div class="overlay">ORÁN</div>
            </div>

            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Rivadavia/RivadaviaTribuno.jpg">
                <div class="overlay">RIVADAVIA</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Rosario de la Frontera/termas.jpg">
                <div class="overlay">ROSARIO DE LA FRONTERA</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Rosario de Lerma/FB_IMG_1693336524495.jpg">
                <div class="overlay">ROSARIO DE LERMA</div>
            </div>

            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/San Carlos/museo.jpg">
                <div class="overlay">SAN CARLOS</div>
            </div>
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Santa Victoria/santa_victoria.jpg">
                <div class="overlay">SANTA VICTORIA</div>
            </div>

      </div>
    </div>
    <!--footer-->
    <footer>
        <p>&copy; Created by Shining Pink <span id="current-year"></span></p>
    </footer>
</body>
</html>