<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles_lugares.css">
    <title>Tu Página Web</title>
</head>
<body>
    <header class="prueba">
        <h2>NUESTROS DEPARTAMENTOS</h2>
    </header>
    
    <div class="main-container">
      <div class="Contenedor">
        <div class="Card-container">
            <div class="card">
                <img src="../assets/iconos/imagenes_lugares/Galería de Fotos/Anta/carrusel_rn_pizarro_02.jpg">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
        </div>
        <div class="Card-container">
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
        </div>
        <div class="Card-container">
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
        </div>
        <div class="Card-container">
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
        </div>
        <div class="Card-container">
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
        </div>
        <div class="Card-container">
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
            <div class="card">
                <img src="asset/Catedral_de_Salta_Capital.JPG">
            </div>
        </div>
      </div>
            
    </div>
</body>
</html>