<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salta Calendar</title>
</head>
<body>
    <main>
        <h2>Nuestros departamentos</h2>
        <input type="text" class="buscador" placeholder="buscar...">
        <div class="card-dpto">Imagen dpto</div>
        <div class="card-dpto">Imagen dpto</div>
        <div class="card-dpto">Imagen dpto</div>
        <div class="card-dpto">Imagen dpto</div>
        <div class="card-dpto">Imagen dpto</div>
        <div class="card-dpto">Imagen dpto</div>
    </main>
    
</body>
</html>