<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Salta Calendar</title>
</head>
<body>
    <header>
        <nav> <!-- Navegacion -->  
          <ul class="menu">
              <div class="logo">
                <img src="/assets/iconos/saltacalendar_logo.png" alt="saltacalendar_logo" class="icono">
                <h1>Salta Calendar</h1>
              </div>
              <li><a href="/index.html">Calendario</a></li>
              <li><a href="/templates/lugares.html">Lugares</a></li>
              <li><a href="contacto.html">Contacto</a></li>
          </ul>
        </nav>
    </header>
    <div class="dpto">
        <h2>Anta</h2>
        <div class="template">
            <div class="area-datos">
                <div class="card">Descripción
                    <p>El departamento de Anta se encuentra en la región noroeste de Argentina, en la provincia de Salta. Con una extensión territorial de 21,945 km², es uno de los departamentos que conforman la geografía salteña. Limita al norte con los departamentos de Orán y Rivadavia, al este con el departamento Rivadavia y la provincia de Chaco, al sur con la provincia de Santiago del Estero, y al oeste con los departamentos de Metán y General Güemes, además de compartir límites con la provincia de Jujuy.</p>
                </div>
                <div class="card">¿Sabías que...
                    <p>En el departamento de Anta se encuentran el Parque Nacional el Rey, la Reserva Nacional Pizarro y la Reserva Provincial Los Palmares, todas creadas con el fin de preservar características particulares del ecosistema local.</p>
                </div>    
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1853048.3393208568!2d-66.32697420962405!3d-24.889963251382213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941737d6ccc4f989%3A0xe423dffdd444d9f5!2sAnta%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1703130105677!5m2!1ses-419!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaEco">ECOTURISMO</div>
            <div class="card-area" id="cardAreaRel">RELIGIÓN</div>
            <div class="card-area" id="cardAreaHist">HISTORIA</div>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaGal">GALERIA DE FOTOS</div>
            <div class="card-area" id="cardAreaLle">¿CÓMO LLEGAR?</div>
            <div class="card-area" id="cardAreaGas">GASTRONOMÍA</div>
        </div>
        <div class="template-rs">
            <img src="/assets/iconos/fa.svg" alt="facebook" class="icono">
            <img src="/assets/iconos/ins.svg" alt="instagram" class="icono">
            <img src="/assets/iconos/tw.svg" alt="twitter" class="icono">
        </div>
        <div class="info" id="infoEcoturismo">
            <h2>Ecoturismo </h2>
                <div class="area-info">
                    <h3>Flora</h3>
                    <p>Entre la flora se destaca la presencia del algarrobo, el cebil colorado, el mistol, los quebrachos colorados y blanco, el palo blanco y el amarillo, el guayacán, la tipa colorada y el nogal.</p>
                    <h4>Principales especies</h4>
                    <div class="card-conteiner">
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=1fF23TRLi4S03Tx2BJQg2MYRs-JNLd7cT">
                            <p>Algarrobo</p>
                            <img src="http://drive.google.com/uc?export=view&id=1ASqlZ352nZLbcqMd79ed0B7S21XR7PBJ">
                            <p>Cebil colorado</p>
                        </div>
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=1hOFQPWDeesEpTthh9L4YCLk7bn3T9Ji9">
                            <p>Mistol</p>
                            <img src="http://drive.google.com/uc?export=view&id=1VFNbnWNkbnjq4wELVxmB31KR0tznn_3n">
                            <p>Quebracho</p>
                        </div>
                    </div> 
            </div> <!--Template Flora--> 
            <div class="area-info">
                <h3>Fauna</h3>
                <p>La fauna está representada por el anta o tapir, la tortuga terrestre, la lampalagua o boa de las vizcacheras, el ñandú, el pichiciego, el gualacate o armadillo de seis bandas, puma, chancho quimilero, jote real y loro hablador.</p>
                <h4>Principales especies</h4>  
                <div class="card-conteiner">
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=1cf4mmfDLNGNnhbbPtRWzIA5DUTMazu1W">
                        <p>Lampalagua</p>
                        <img src="http://drive.google.com/uc?export=view&id=1NSwlulwfPJNmmnSXam-kWUh2TS6fkvJs">
                        <p>Ñandú</p>
                    </div>
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=1KtEu3oGyAlzDUXvghopul11ayc7Krqmx">
                        <p>Tapir</p>
                        <img src="http://drive.google.com/uc?export=view&id=10MQYkpLRx5zQgyzx7CoAEiKdps9kvVvN">
                        <p>Tortuga terrestre</p>
                    </div>
                </div>
        </div> <!--Template Fauna-->
    </div> <!--Ecoturismo-->
    <div class="info" id="infoReligion">
        <h2>Religion</h2>
        <div class="area-info">
        <p>El 2 de febrero se celebra en Quebrachal, departamento de Anta, en la provincia de Salta, la fiesta en honor de la Virgen de Huachana de las Margaritas. Se la reconoce como una de las fiestas religiosas y tradicionales más importantes de la zona de Anta, con una trayectoria de más de 60 años y la usual asistencia de más de 10.000 personas.</p>
        <div class="card-conteiner">
             <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=1s1R7jNLMIMkG_0xI1o0GKnIY0KGLlqhz">
                <p>Iglesia principal</p> 
            </div>
        </div>
    </div>
    </div>
    
    <div class="info" id="infoHistoria">
        <h2>Historia</h2>
        <div class="area-info">
        <p>La Reserva Provincial Pizarro, designada por la ley nacional 27.093 en 2014, tiene una historia que se remonta a 1995 cuando fue creada inicialmente. En 2004, se intentó cambiar su uso a agrícola, desencadenando un conflicto con ambientalistas y la comunidad. Tras casi 2 años de disputa, en octubre de 2005, el Estado Nacional y la Provincia de Salta acordaron establecer un Área Protegida de Jurisdicción Nacional en los antiguos Lotes 32 y 33 del Departamento de Anta. En 2010, Salta aprobó la cesión para la creación de la Reserva, finalmente sancionada como área protegida nacional en 2015. La zona es reconocida como un área importante para la conservación de aves (AICA) Sa-12 'Lotes 32-33, Maíz Gordo' por Birdlife International.</p>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=1Bgw7NywSU4mAUf2lvfksdgdjMfvnP_2D">
                <p>Calchaquíes</p>
                <img src="http://drive.google.com/uc?export=view&id=1bvpgpVnp33rr5YG8cYvM9e7dgUCMnLFL">
                <p>Diaguitas</p>
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=1hRdDJJ71s_yLzJhm0I4JA8TSFGxObGIN">
                <p>Omaguacas</p>
            </div>
        </div>
    </div>
    </div><!--Historia--> 
    
    <div class="info" id="infoGaleria">
        <h2>Galería de fotos</h2>
        <div class="area-info">
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=1XPxY_EUHo65rPXMsWDF4zkSxpFcEAvwj">
                <p>El Rey</p>
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=1_Rd0uT3eecDdvpDJ3l61f46LyBxfFAsI">
                <p>Hospital</p>
            </div>
        </div>
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=1MnmytOljBueL9M9ziodLSBYsMBPqYUrw">
                <p>Pizarro</p>
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=18JiOPnSQoaDlVZx1yWElEowU2AFHFMHF">
                <p>Pizarro</p>
            </div>
        </div>
    </div>
    </div>
    <div class="info" id="infoComoLlegar">
        <h2>¿Cómo llegar?</h2>
        <div class="area-info">
        <p>Google Maps te indicará la mejor ruta a seguir en distintos vehiculos.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1853048.3393208568!2d-66.32697420962405!3d-24.889963251382213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941737d6ccc4f989%3A0xe423dffdd444d9f5!2sAnta%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1703130105677!5m2!1ses-419!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
    <div class="info" id="infoGastronomia">
        <h2>Gastronomia</h2>
        <div class="area-info">
        <p>La especialidad de la zona es la sopa de mondongo: la sopa de mondongo es una sopa tradicional de la gastronomía argentina. Se prepara con tripa de vaca, verduras, y especias./nPescado frito: el pescado frito es un plato popular en Anta, especialmente en las zonas cercanas al río Juramento.</p>   
        <h3>Platos principales</h3>
        <div class="card-conteiner">
             <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=1fZ1YskeUZi7SafIc6V6pngEkQTFGsQYO" >
                <p>Sopa de mondongo</p> 
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=1_lAQ7Yba0O-XjITKsZNgGRtNL71DEpjz" >
                <p>Pescado frito</p> 
            </div>
        </div>
        
    </div>
    </div> <!--Gastronomia-->
    </div>
    <script src="/scripts/dpto.js"></script>
    <footer>
        <p>&copy; Created by Shining Pink <span id="current-year"></span></p>
    </footer>
</body>
</html>