<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Salta Calendar</title>
</head>
<body>
    <header>
        <nav> <!-- Navegacion -->  
          <ul class="menu">
              <div class="logo">
                <img src="/assets/iconos/saltacalendar_logo.png" alt="saltacalendar_logo" class="icono">
                <h1>Salta Calendar</h1>
              </div>
              <li><a href="/index.html">Calendario</a></li>
              <li><a href="/templates/lugares.html">Lugares</a></li>
              <li><a href="contacto.html">Contacto</a></li>
          </ul>
        </nav>
    </header>
    <div class="dpto">
        <h2>Cafayate</h2>
        <div class="template">
            <div class="area-datos">
                <div class="card">Descripción
                    <p>Cafayate, una encantadora localidad enclavada en los pintorescos Valles Calchaquíes de la provincia de Salta, ofrece a sus visitantes una experiencia única en el noroeste de Argentina. Rodeada por imponentes formaciones rocosas de tonalidades rojizas, el paisaje de Cafayate es simplemente impresionante.</p>
                </div>
                <div class="card">¿Sabías que...
                    <p>La Quebrada del Río de las Conchas es una formación geológica impresionante que alberga sitios únicos como el Anfiteatro, la Garganta del Diablo y las Tres Cruces.</p>
                </div>    
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57342.43225437244!2d-66.04921789821391!3d-26.069458470380148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941f311369c3a61b%3A0x540e61c61f3a5d0c!2sCafayate%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1703131431334!5m2!1ses-419!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaEco">ECOTURISMO</div>
            <div class="card-area" id="cardAreaRel">RELIGIÓN</div>
            <div class="card-area" id="cardAreaHist">HISTORIA</div>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaGal">GALERIA DE FOTOS</div>
            <div class="card-area" id="cardAreaLle">¿CÓMO LLEGAR?</div>
            <div class="card-area" id="cardAreaGas">GASTRONOMÍA</div>
        </div>
        <div class="template-rs">
            <img src="/assets/iconos/fa.svg" alt="facebook" class="icono">
            <img src="/assets/iconos/ins.svg" alt="instagram" class="icono">
            <img src="/assets/iconos/tw.svg" alt="twitter" class="icono">
        </div>
        <div class="info" id="infoEcoturismo">
            <h2>Ecoturismo </h2>
                <div class="area-info">
                    <h3>Flora</h3>
                    <p>Con respecto a la flora pueden verse bosques ribereños de algarrobos y churquis; además de jarillas y breas.</p>
                    <h4>Principales especies</h4>
                    <div class="card-conteiner">
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=">
                            <img src="http://drive.google.com/uc?export=view&id=">
                        </div>
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=">
                            <img src="http://drive.google.com/uc?export=view&id=">
                        </div>
                    </div> 
            </div> <!--Template Flora--> 
            <div class="area-info">
                <h3>Fauna</h3>
                <p>La fauna autóctona esta representada por cóndores, zorros, loros barranqueros y los guanacos. En el río, se encuentran bagres yuscas y sábalos.</p>
                <h4>Principales especies</h4>  
                <div class="card-conteiner">
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=">
                        <img src="http://drive.google.com/uc?export=view&id=">
                    </div>
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=" alt="">
                        <img src="http://drive.google.com/uc?export=view&id=" alt="">
                    </div>
                </div>
        </div> <!--Template Fauna-->
    </div> <!--Ecoturismo-->
    <div class="info" id="infoReligion">
        <h2>Religion</h2>
        <div class="area-info">
        <p>La majestuosa Catedral de Nuestra Señora del Rosario, construida en el siglo XIX, es otra joya arquitectónica que adorna la plaza. Este imponente edificio ofrece a los visitantes una muestra de la rica herencia cultural y religiosa de Cafayate.</p>
        <div class="card-conteiner">
             <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Iglesia Principal</p> 
            </div>
           
        </div>
    </div>
    </div>
    
    <div class="info" id="infoHistoria">
        <h2>Historia</h2>
        <div class="area-info">
        <p>La historia de Cachi  es una fascinante mezcla de herencia indígena y la influencia colonial española. Originalmente habitada por varios pueblos indígenas, como los diaguitas, omaguacas y calchaquíes, la región albergaba una rica cultura y economía basada en la agricultura y la ganadería. Sin embargo, en el siglo XVI, los conquistadores españoles llegaron a la región y la sometieron bajo la influencia colonial. Cachi se convirtió en parte del Virreinato de Perú y luego del Virreinato del Río de la Plata.</p>
        <h3>Pueblos Originarios</h3>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=">
                <img src="http://drive.google.com/uc?export=view&id=">
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=">
            </div>
        </div>
    </div>
    </div><!--Historia--> 
    
    <div class="info" id="infoGaleria">
        <h2>Galería de fotos</h2>
        <div class="area-info">
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
        </div>
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
        </div>
    </div>
    </div>
    <div class="info" id="infoComoLlegar">
        <h2>¿Cómo llegar?</h2>
        <div class="area-info">
        <p>Google Maps te indicará la mejor ruta a seguir en distintos vehiculos.</p>
        <iframe src="" frameborder="0"></iframe>
    </div>
    </div>
    <div class="info" id="infoGastronomia">
        <h2>Gastronomia</h2>
        <div class="area-info">
        <p>La gastronomía de Cachi refleja la riqueza de la cultura andina y la influencia de la región de Salta. Destacan platos tradicionales como la empanada salteña, rellena de carne, papas y especias. La carne de llama o cabra se prepara en deliciosos guisos y asados, resaltando sabores autóctonos. El locro, una sopa espesa de maíz, carne y vegetales, es una delicia reconfortante. Acompañando estas exquisiteces, los vinos de la zona, especialmente los tintos de altura, complementan la experiencia culinaria. La cocina de Cachi ofrece un festín que fusiona tradición, ingredientes locales y la calidez de la cultura andina.</p>   
        <h3>Platos principales</h3>
        <div class="card-conteiner">
             <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
        </div>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
        </div>
    </div>
    </div> <!--Gastronomia-->
    </div>
    <script src="/scripts/dpto.js"></script>
    <footer>
        <p>&copy; Created by Shining Pink <span id="current-year"></span></p>
    </footer>
</body>
</html>