<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Salta Calendar</title>
</head>
<body>
    <header>
        <nav> <!-- Navegacion -->  
          <ul class="menu">
              <div class="logo">
                <img src="/assets/iconos/saltacalendar_logo.png" alt="saltacalendar_logo" class="icono">
                <h1>Salta Calendar</h1>
              </div>
              <li><a href="/index.html">Calendario</a></li>
              <li><a href="/templates/lugares.html">Lugares</a></li>
              <li><a href="contacto.html">Contacto</a></li>
          </ul>
        </nav>
    </header>
    <div class="dpto">
        <h2>Cafayate</h2>
        <div class="template">
            <div class="area-datos">
                <div class="card">Descripción
                    <p>Cafayate, una encantadora localidad enclavada en los pintorescos Valles Calchaquíes de la provincia de Salta, ofrece a sus visitantes una experiencia única en el noroeste de Argentina. Rodeada por imponentes formaciones rocosas de tonalidades rojizas, el paisaje de Cafayate es simplemente impresionante.</p>
                </div>
                <div class="card">¿Sabías que...
                    <p>La Quebrada del Río de las Conchas es una formación geológica impresionante que alberga sitios únicos como el Anfiteatro, la Garganta del Diablo y las Tres Cruces.</p>
                </div>    
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57342.43225437244!2d-66.04921789821391!3d-26.069458470380148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941f311369c3a61b%3A0x540e61c61f3a5d0c!2sCafayate%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1703131431334!5m2!1ses-419!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaEco">ECOTURISMO</div>
            <div class="card-area" id="cardAreaRel">RELIGIÓN</div>
            <div class="card-area" id="cardAreaHist">HISTORIA</div>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaGal">GALERIA DE FOTOS</div>
            <div class="card-area" id="cardAreaLle">¿CÓMO LLEGAR?</div>
            <div class="card-area" id="cardAreaGas">GASTRONOMÍA</div>
        </div>
        <div class="template-rs">
            <img src="/assets/iconos/fa.svg" alt="facebook" class="icono">
            <img src="/assets/iconos/ins.svg" alt="instagram" class="icono">
            <img src="/assets/iconos/tw.svg" alt="twitter" class="icono">
        </div>
        <div class="info" id="infoEcoturismo">
            <h2>Ecoturismo </h2>
                <div class="area-info">
                    <h3>Flora</h3>
                    <p>Con respecto a la flora pueden verse bosques ribereños de algarrobos y churquis; además de jarillas y breas.</p>
                    <h4>Principales especies</h4>
                    <div class="card-conteiner">
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=1ckKOYTnrpZjppViVEcgnnLD-GnKMH5nU">
                            <p>Algarrobo</p>
                            <img src="http://drive.google.com/uc?export=view&id=1xp9JOcywqLhzVS1NrwIycMKRoeamRbj5">
                            <p>Cactus quisco</p>
                        </div>
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=10YjJnhybVM40b2E84eqblmSIOW4bg4Cb">
                            <p>Jarilla</p>
                            <img src="http://drive.google.com/uc?export=view&id=1fkdqwdHXiAAlK1QTLt9TXqk9NUPwmNXL">
                            <p>Torrontes</p>
                        </div>
                    </div> 
            </div> <!--Template Flora--> 
            <div class="area-info">
                <h3>Fauna</h3>
                <p>La fauna autóctona esta representada por cóndores, zorros, loros barranqueros y los guanacos. En el río, se encuentran bagres yuscas y sábalos.</p>
                <h4>Principales especies</h4>  
                <div class="card-conteiner">
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=1UTKPwR9QfiROM9lLZQv7FT4Q0zstIGjh">
                        <p>Cóndor andino</p>
                        <img src="http://drive.google.com/uc?export=view&id=10S-NDUNJEeleDLDAZWBNOH82enEZYUiW">
                    </div>
                    <p>Guanaco</p>
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=1DXKAxO-Spg3-in_kqXXDCDh8dQAUAfhQ">
                        <p>Picaflor gigante</p>
                        <img src="http://drive.google.com/uc?export=view&id=1cW2R-e6HXifBW__Xe-ZTUa93N2QRiQlr">
                        <p>Vicuña</p>
                    </div>
                </div>
        </div> <!--Template Fauna-->
    </div> <!--Ecoturismo-->
    <div class="info" id="infoReligion">
        <h2>Religion</h2>
        <div class="area-info">
        <p>La majestuosa Catedral de Nuestra Señora del Rosario, construida en el siglo XIX, es otra joya arquitectónica que adorna la plaza. Este imponente edificio ofrece a los visitantes una muestra de la rica herencia cultural y religiosa de Cafayate.</p>
        <div class="card-conteiner">
             <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=1harjJ6_PlIekA62pSIPgriz6NVJb41A9">
                <p>Iglesia Principal</p> 
            </div>
           
        </div>
    </div>
    </div>
    
    <div class="info" id="infoHistoria">
        <h2>Historia</h2>
        <div class="area-info">
        <p>La localidad fue fundada en 1840 por Manuel Fernando de Aramburú, coronel del Ejército Real, quien ejecutó la voluntad de su madre de ofrecer un santuario en el lugar a la Virgen del Rosario. Luego aumentaría su importancia y se separaría definitivamente de San Carlos al crearse el departamento en 1863.</p>
        <h3>Pueblos Originarios</h3>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id= 1ccZa6MrG_H3eTqyp-flIO5HR6dLDdwfm">
                <p>Diaguitas</p>
                <img src="http://drive.google.com/uc?export=view&id=1l502TQyWm6Psqx2MMQOaOHF2fMDsLLai">
                <p>Calchaquíes</p>
            </div>
            </div>
        </div>
     </div><!--Historia--> 
    
    <div class="info" id="infoGaleria">
        <h2>Galería de fotos</h2>
        <div class="area-info">
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id= 1Tkrk7wpUFv9MdgczRO4rvVwEcp2zhxIi">
                <p>Río de las Conchas</p>
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=1CfrQ1HC5qnDPiBwnS-EMYuNLSyCQ8cyn">
                <p>Garganta del Diablo</p>
            </div>
        </div>
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=1lFPlXU2Lcy-X5IM45_nfpikHEuvAvmIq">
                <p>Quebrada de Las Conchas</p>
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=1yvTBmhQuhLeAlnPO-Fp2XDhBPPm_m_8n">
                <p>Quebrada de Las Conchas</p>
            </div>
        </div>
    </div>
    </div>
    <div class="info" id="infoComoLlegar">
        <h2>¿Cómo llegar?</h2>
        <div class="area-info">
        <p>Google Maps te indicará la mejor ruta a seguir en distintos vehiculos.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57342.43225437244!2d-66.04921789821391!3d-26.069458470380148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941f311369c3a61b%3A0x540e61c61f3a5d0c!2sCafayate%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1703131431334!5m2!1ses-419!2sar" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
    <div class="info" id="infoGastronomia">
        <h2>Gastronomia</h2>
        <div class="area-info">
        <p>La carbonada es un plato tradicional que generalmente incluye carne de res, papas, maíz, batatas, zanahorias y otros vegetales, cocidos lentamente en una cazuela con especias.</p>   
        <h3>Platos principales</h3>
        <div class="card-conteiner">
             <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=16cgTT_wkdN97Jw0FY64v4ZK1nUnYUSx2" >
                <p>Quesillo</p> 
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=1zjw8NzP_AgpM5_m_T4nVAzAOHAPK6CKK" >
                <p>Vino</p> 
            </div>
        </div>
        
    </div>
    </div> <!--Gastronomia-->
    </div>
    <script src="/scripts/dpto.js"></script>
    <footer>
        <p>&copy; Created by Shining Pink <span id="current-year"></span></p>
    </footer>
</body>
</html>