<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Salta Calendar</title>
</head>
<body>
    <header>
        <nav> <!-- Navegacion -->  
          <ul class="menu">
              <div class="logo">
                <img src="/assets/iconos/saltacalendar_logo.png" alt="saltacalendar_logo" class="icono">
                <h1>Salta Calendar</h1>
              </div>
              <li><a href="/index.html">Calendario</a></li>
              <li><a href="/templates/lugares.html">Lugares</a></li>
              <li><a href="contacto.html">Contacto</a></li>
          </ul>
        </nav>
    </header>
    <div class="dpto">
        <h2>Capital</h2>
        <div class="template">
            <div class="area-datos">
                <div class="card">Descripción
                    <p>Salta es una ciudad del noroeste de Argentina, capital de la provincia homónima. Se encuentra ubicada en el sector norte del Valle de Lerma. Su superficie aproximada es de 120 km². Es también la ciudad más poblada de la provincia, la segunda del NOA y la séptima del país. Se encuentra ubicada al este de la cordillera de los Andes, en el Valle de Lerma, a 1187 m s. n. m., muy cerca del nacimiento del río Mojotoro y cruzada por el río Arenales.</p>
                </div>
                <div class="card">¿Sabías que...
                    <p>Uno de los atractivos turisticos destacados es el Museo de Arqueología de Alta Montaña que exhibe artefactos preincaicos.</p>
                </div>    
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115903.57678281823!2d-65.51303132442295!3d-24.7959063945785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc3a35151b7f9%3A0xa5cd992cd587f206!2sSalta!5e0!3m2!1ses-419!2sar!4v1703136255979!5m2!1ses-419!2sar"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaEco">ECOTURISMO</div>
            <div class="card-area" id="cardAreaRel">RELIGIÓN</div>
            <div class="card-area" id="cardAreaHist">HISTORIA</div>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaGal">GALERIA DE FOTOS</div>
            <div class="card-area" id="cardAreaLle">¿CÓMO LLEGAR?</div>
            <div class="card-area" id="cardAreaGas">GASTRONOMÍA</div>
        </div>
        <div class="template-rs">
            <img src="/assets/iconos/fa.svg" alt="facebook" class="icono">
            <img src="/assets/iconos/ins.svg" alt="instagram" class="icono">
            <img src="/assets/iconos/tw.svg" alt="twitter" class="icono">
        </div>
        <div class="info" id="infoEcoturismo">
            <h2>Ecoturismo </h2>
                <div class="area-info">
                    <h3>Flora</h3>
                    <p>La comunidad vegetal presenta especies de yungas como, entre otros, el cebil, el horco cebil, el lapacho rosado, la tipa blanca y el pacará, coexistiendo con especies típicamente chaqueñas como los algarrobos blancos y negros, los quebrachos blancos y colorados, el mistol, el yuchán y el guayacán.</p>
                    <h4>Principales especies</h4>
                    <div class="card-conteiner">
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=1CDdnvJTya8gubUJZem_nS1g5zYVKgVT3">
                            <p>Quebracho Blanco</p>
                            <img src="http://drive.google.com/uc?export=view&id=">
                        </div>
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=">
                            <img src="http://drive.google.com/uc?export=view&id=">
                        </div>
                    </div> 
            </div> <!--Template Flora--> 
            <div class="area-info">
                <h3>Fauna</h3>
                <p>En cuanto a la fauna nativa, resulta importante mencionar que existen 137 especies de aves registradas, que comparten hábitat con mamíferos como corzuelas, pecaríes de collar, zorros y comadrejas, reptiles como el caraguay, serpientes, culebras y lagartijas, anfibios como sapos y ranas, y numerosos artrópodos entre los que resaltan las numerosas mariposas.</h4>  
                <div class="card-conteiner">
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=">
                        <img src="http://drive.google.com/uc?export=view&id=">
                    </div>
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=" alt="">
                        <img src="http://drive.google.com/uc?export=view&id=" alt="">
                    </div>
                </div>
        </div> <!--Template Fauna-->
    </div> <!--Ecoturismo-->
    <div class="info" id="infoReligion">
        <h2>Religion</h2>
        <div class="area-info">
        <p>La Catedral Basílica de Salta, además de ser una verdadera expresión de riqueza arquitectónica es sobre todo el símbolo y la manifestación de la fe de todos los que peregrinan en esta Iglesia Particular de Salta.</p>
        <div class="card-conteiner">
             <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Iglesia Principal</p> 
            </div>
           
        </div>
    </div>
    </div>
    
    <div class="info" id="infoHistoria">
        <h2>Historia</h2>
        <div class="area-info">
        <p>A continuación, se presentan algunos de los acontecimientos más importantes de la historia de Salta capital:\n\n1582: Fundación de la ciudad de Salta por Hernando de Lerma.\n1783: Salta se convierte en la capital de la Intendencia de Salta del Tucumán.\n1813: Batalla de Salta, victoria decisiva para los independentistas.\nSiglo XIX: Salta se convierte en un importante centro cultural y educativo.\nSiglo XX: Salta se convierte en un importante destino turístico.</p>
        <h3>Pueblos Originarios</h3>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=">
                <img src="http://drive.google.com/uc?export=view&id=">
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=">
            </div>
        </div>
    </div>
    </div><!--Historia--> 
    
    <div class="info" id="infoGaleria">
        <h2>Galería de fotos</h2>
        <div class="area-info">
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
        </div>
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
        </div>
    </div>
    </div>
    <div class="info" id="infoComoLlegar">
        <h2>¿Cómo llegar?</h2>
        <div class="area-info">
        <p>Google Maps te indicará la mejor ruta a seguir en distintos vehiculos.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115903.57678281823!2d-65.51303132442295!3d-24.7959063945785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bc3a35151b7f9%3A0xa5cd992cd587f206!2sSalta!5e0!3m2!1ses-419!2sar!4v1703136255979!5m2!1ses-419!2sar"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </div>
    <div class="info" id="infoGastronomia">
        <h2>Gastronomia</h2>
        <div class="area-info">
        <p>La gastronomía de Salta,  se destaca por su rica tradición culinaria que combina influencias indígenas y españolas. Algunos de los platos más emblemáticos de la región incluyen empanadas, humitas, locro y, aunque la pizza no es originaria de Salta, también ha ganado popularidad en la zona.</p>   
        <h3>Platos principales</h3>
        <div class="card-conteiner">
             <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
        </div>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
        </div>
    </div>
    </div> <!--Gastronomia-->
    </div>
    <script src="/scripts/dpto.js"></script>
    <footer>
        <p>&copy; Created by Shining Pink <span id="current-year"></span></p>
    </footer>
</body>
</html>