<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Salta Calendar</title>
</head>
<body>
    <header>
        <nav> <!-- Navegacion -->  
        <ul class="menu">
            <div class="logo">
                <img src="/assets/iconos/saltacalendar_logo.png" alt="saltacalendar_logo" class="icono">
                <h1>Salta Calendar</h1>
            </div>
            <li><a href="/index.html">Calendario</a></li>
            <li><a href="/templates/lugares.html">Lugares</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
        </nav>
    </header>
    <div class="dpto">
        <h2>IRUYA</h2>
        <div class="template">
            <div class="area-datos">
                <div class="card">Descripción
                    <p>Iruya es un pueblo de la provincia de Salta, cabecera del departamento Iruya. Está ubicado a 2780 metros sobre el nivel del mar, a 307 km de la capital salteña. La primera impresión es de un pueblo "colgado en la montaña" destacando su edificación colonial. En sus proximidades, 5 km al noreste, se encuentran las ruinas del Pucara de Titiconte. El poblado conserva sus calles angostas y empedradas, con casa de adobes, piedras y paja. Siguiendo el lecho de los ríos que surcan el interior, se aprecian quebradas de diferentes formas y colores.</p>
                </div>
                <div class="card">¿Sabías que...
                    <p>La revista internacional especializada en turismo de lujo y estilo de vida, Condé Nast Traveler, ubicó a Iruya en su nota, en la lista de 50 pueblos más hermosos del mundo.</p>
                </div>    
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7356.704491294931!2d-65.22224795835531!3d-22.789408217351202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x940456eb1dc1f4b5%3A0xafc3aef6c01e4139!2sIruya%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1703133316312!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaEco">ECOTURISMO</div>
            <div class="card-area" id="cardAreaRel">RELIGIÓN</div>
            <div class="card-area" id="cardAreaHist">HISTORIA</div>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaGal">GALERIA DE FOTOS</div>
            <div class="card-area" id="cardAreaLle">¿CÓMO LLEGAR?</div>
            <div class="card-area" id="cardAreaGas">GASTRONOMÍA</div>
        </div>
        <div class="template-rs">
            <img src="/assets/iconos/fa.svg" alt="facebook" class="icono">
            <img src="/assets/iconos/ins.svg" alt="instagram" class="icono">
            <img src="/assets/iconos/tw.svg" alt="twitter" class="icono">
        </div>
        <div class="info" id="infoEcoturismo">
            <h2>Ecoturismo </h2>
                <div class="area-info">
                    <h3>Flora</h3>
                    <p>La variedad de su flora constituye la riqueza que presenta esta región, la cual en el sector occidental revela el predominio de la puna, con tolas y yaretas en un clima frío de altura, a medida que la temperatura aumenta y decrece la altitud las especies tropicales aparecen dándose las condiciones para la formación de bosques y selvas montañosas. El territorio montañoso de la Prepuna se encuentra interrumpido por vegas y valles. Las vegas están ubicadas a mayor altitud sobre pequeños cursos de agua, siendo la vegetación característica el "pasto Puna" aprovechado para el pastoreo trashumante del ganado. Los valles de pequeños ríos o arroyos, a menor altura, poseen microclimas que los tornan aptos para la agricultura y el asentamiento humano.</p>
                    <h4>Principales especies</h4>
                    <div class="card-conteiner">
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=19ycbqjz2o7ERDXxIsCAAxQY065mOn2QB">
                            <p>Tola</p>
                        </div>
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=15-ilY-51_sm-0hdCIHEonNH0VYelpCz3">
                            <p>Yareta</p>
                        </div>

                    </div> 
            </div> <!--Template Flora--> 
            <div class="area-info">
                <h3>Fauna</h3>
                <p>La fauna de Iruya se destaca por el rey de los cielos andinos, el Condor Andino, que puede tener una envergadura de hasta 3,5 metros entre los extremos de sus alas desplegadas. Otras aves son el Chingolo (Zonotrichia capensis), Calandria Castaña (Mimus dorsalis), los gavilanes grises y ratoneros y las perdices entre los sembradíos y arbustos bajos. Sin duda, es un buen lugar para el avisaje de aves.Mientras se recorre entre los parajes, se pueden ver vicuñas y liebres. Y si tenes mucha suerte, vas a poder ver a la distancia el puma, también llamado león americano.</p>
                <h4>Principales especies</h4>  
                <div class="card-conteiner">
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=1ChMYtH-G55Z0LY_lJ1UcWFsRvQ0-5BZ5">
                        <p>Chingolo</p>
                        <img src="http://drive.google.com/uc?export=view&id=1APzH8Je2pfoFXadD1F6whWF8XH3swGSf">
                        <p>Condor andino</p>
                    </div>
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=1bG8jvVwe-gmyX8u8JBA93Fiq1hswIano">
                        <p>Liebre</p>
                        <img src="http://drive.google.com/uc?export=view&id=1prC30RLJnke1s0uMWTCK3ywDlz36Nrh3">
                        <p>Puma</p>
                    </div>
                </div>
        </div> <!--Template Fauna-->
    </div> <!--Ecoturismo-->
    <div class="info" id="infoReligion">
        <h2>Religion</h2>
        <div class="area-info">
        <p>La iglesia de San Roque y Nuestra Señora del Rosario fue fundada hacia 1753, está en la entrada del pueblo y frente a ella se celebran las fiestas y danzas rituales. Es la postal de Iruya y un lugar ícono, que no puede dejar de visitarse en el pueblo.</h3>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=19V49CihenlqOhVbDmOn4F36JfnAnCOeV">
                <p>Iglesia Principal</p> 
            </div>

        </div>
    </div>
    </div>
    
    <div class="info" id="infoHistoria">
        <h2>Historia</h2>
        <div class="area-info">
        <p>El pueblo fue fundado oficialmente en 1753, aunque las actas de nacimiento encontrados en la parroquia de Humahuaca indican que el poblado original ya existía desde inicios del siglo XVII. Estos habitantes son descendientes de los Incas. Existen varias ruinas a los alrededores que prueban la existencia de una etnia homogénea antes de la llegada de los españoles. Los primeros habitantes sobrevivían, como los actuales continúan haciéndolo, mediante los cultivos de subsistencia. Principalmente se dedicaban a la cría de ganado, como ovejas, cabras y en menor medida la llamas, y también practicaban la agricultura, cultivando maíz, papas, ocas y otros. Incluso hoy en día, sus habitantes siguen subsistiendo mediante el trueque. Sin embargo, el turismo está comenzando a desarrollarse.</p>
    </div>
    </div><!--Historia--> 
    
    <div class="info" id="infoGaleria">
        <h2>Galería de fotos</h2>
        <div class="area-info">
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=1DoJF1ZbWS8INkguicBciK4XxUb4kcB5-">
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=1vShn0_cOV6CIdttUZ4ccogAOaEOfRrGl">
            </div>
        </div>
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=1VtaWz561DFszdZVo62kvkLwdaxIB-7pp">
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=16R0sbkpTxCv2qjW34WI8Uq3WR7QUeg2W">
            </div>
        </div>
    </div>
    </div>
    <div class="info" id="infoComoLlegar">
        <h2>¿Cómo llegar?</h2>
        <div class="area-info">
        <p>Google Maps te indicará la mejor ruta a seguir en distintos vehiculos.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7356.704491294931!2d-65.22224795835531!3d-22.789408217351202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x940456eb1dc1f4b5%3A0xafc3aef6c01e4139!2sIruya%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1703133316312!5m2!1ses-419!2sar" frameborder="0"></iframe>
    </div>
    </div>
    <div class="info" id="infoGastronomia">
        <h2>Gastronomia</h2>
        <div class="area-info">
        <p>La gastronomía de Iruya, como en toda esta zona, se caracteriza por el uso de ingredientes ancestrales y típicos de la región como quinoa, habas y variedad de papas andinas (oca, tuni, churqueña, colorada, runa, entre otras); además se pueden saborear platos como guiso de papas verdes, guiso de quinoa y pastel de quinoa.</p>   
        <h3>Platos principales</h3>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=1YKfhaOFQ2KtOp_7evUSB-V9i1Kl4mPkL">
                <p>Guiso de papas verdes</p> 
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=1BdwsXwANM1vawj6EH5HTrHjs9tnFE2v9">
                <p>Guiso de quinoa</p> 
            </div>
        </div>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=12Hn91IMqTZvI1CgZ-Yg9k1ETm44XTz7l">
                <p>Pastel de quinoa</p> 
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=10Ggfd5OCq_40HUOG-vdmPcfv8_1aSCW-">
                <p>Papas andinas</p> 
            </div>
        </div>
    </div>
    </div> <!--Gastronomia-->
    </div>
    <script src="/scripts/dpto.js"></script>
    <footer>
        <p>&copy; Created by Shining Pink <span id="current-year"></span></p>
    </footer>
</body>
</html>