<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>La Caldera</title>
</head>
<body>
    <header>
        <nav> <!-- Navegacion -->  
        <ul class="menu">
            <div class="logo">
                <img src="/assets/iconos/saltacalendar_logo.png" alt="saltacalendar_logo" class="icono">
                <h1>Salta Calendar</h1>
            </div>
            <li><a href="/index.html">Calendario</a></li>
            <li><a href="/templates/lugares.html">Lugares</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
        </nav>
    </header>
    <div class="dpto">
        <h2>La Caldera</h2>
        <div class="template">
            <div class="area-datos">
                <div class="card">Descripción
                    <p>La Caldera es una pequeña localidad, cabecera del departamento homónimo, provincia de Salta, en el noroeste de Argentina. Existen dos versiones respecto a su nombre: el primero dice ser de un misionero jesuita de apellido Caldera y el segundo a una fundición de plomo, la que poseía una fuente de agua, asemejándose a una caldera. El clima predominante es el de subtropical serrano.  Los inviernos son pocos fríos y relativamente secos, la primera cualidad acentuada por la altitud. Los veranos, por el contrario, son cálidos y húmedos, lo que propicia el desarrollo del bioma de yungas. </p>
                </div>
                <div class="card">¿Sabías que...
                    <p>En La Caldera te espera uno de los festivales que, por su tradición y convocatoria, ha ganado reconocimiento a nivel nacional.  El Festival Nacional de la Chicha atrae a una numerosa cantidad de personas durante tres días a finales de marzo y vos podés ser parte de esta festividad degustando la famosa chicha, la típica bebida de elaboración artesanal.</p>
                </div>    
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14510.05763238197!2d-65.39382344987416!3d-24.605949299537443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bbecb095153ef%3A0xc2547f98bbf0117b!2sLa%20Caldera%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1703138684984!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaEco">ECOTURISMO</div>
            <div class="card-area" id="cardAreaRel">RELIGIÓN</div>
            <div class="card-area" id="cardAreaHist">HISTORIA</div>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaGal">GALERIA DE FOTOS</div>
            <div class="card-area" id="cardAreaLle">¿CÓMO LLEGAR?</div>
            <div class="card-area" id="cardAreaGas">GASTRONOMÍA</div>
        </div>
        <div class="template-rs">
            <img src="/assets/iconos/fa.svg" alt="facebook" class="icono">
            <img src="/assets/iconos/ins.svg" alt="instagram" class="icono">
            <img src="/assets/iconos/tw.svg" alt="twitter" class="icono">
        </div>
        <div class="info" id="infoEcoturismo">
            <h2>Ecoturismo </h2>
                <div class="area-info">
                    <h3>Flora</h3>
                    <p>Las formaciones vegetales naturales de La Caldera están en primer término condicionadas por los aspectos climáticos de lluvias y energía solar disponible, y en segundo lugar por factores edáficos y topográficos.  Los vientos húmedos penetran en el valle desde el este donde son detenidos por los altos cordones situados al oeste de más de 4.000 m sobre el nivel del mar, al pie de los cuales descargan casi toda su humedad.  El bosque nativo es rico en especies como cedro, cebil, sauce, nogal, lapacho, tipa, entre otras. También se encuentran especies exóticas entre las que se destacan los pinos y eucaliptos.</p>
                    <h4>Principales especies</h4>
                    <div class="card-conteiner">
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=16CO3q0D85pxo1mSrWMbvl2sQKmMnoKWU">
                            <p>Cardón</p>
                            <img src="http://drive.google.com/uc?export=view&id=1TdNKyhdlGZgact9zTpU9AVyVOxQmiN77">
                            <p>Cedro</p>
                        </div>
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=1us1vHvcPPhkJcMnMFVe7Nr1QAKRWIV-l">
                            <p>Nogal</p>
                            <img src="http://drive.google.com/uc?export=view&id=1SI_si508ru65v0dOEtlqU2GGGiMSTqx6">
                            <p>Sauce</p>
                        </div>
                    </div> 
            </div> <!--Template Flora--> 
            <div class="area-info">
                <h3>Fauna</h3>
                <p>Gracias a la variedad de la naturaleza de nuestra región se pueden encontrar pavas de monte, corzuelas, pumas pecaríes, liebres, vicuñas guanacos, llamas y un sin número de especies ornitológicas.  En cuanto a la piscicultura podemos mencionar al Dique Campo alegre como un gran espejo de agua que alberga al pejerrey, algunos bagres y sardinas.  En los ríos y arroyos de la zona a las corydoras (yusca) y sardinas.</p>
                <h4>Principales especies</h4>  
                <div class="card-conteiner">
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=1S5LD6wMXbshci2QIxhR8i8nJu1jVoSPc">
                        <p>Corzuela</p>
                        <img src="http://drive.google.com/uc?export=view&id=11UbG-aCPGt6eFo92EhwhO4n599_-dHYy">
                        <p>Liebre</p>
                    </div>
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=1bnrF7vhwf1YGnA9DmQeluYRhJNpURwq1">
                        <p>Pava del monte</p>
                        <img src="http://drive.google.com/uc?export=view&id=1Eiz5b7dNmoJiy0wgDSZTGSBZhzh5Zsyw">
                        <p>Vicuña</p>
                    </div>
                </div>
        </div> <!--Template Fauna-->
    </div> <!--Ecoturismo-->
    <div class="info" id="infoReligion">
        <h2>Religión</h2>
        <div class="area-info">
        <p>La iglesia de la Caldera fue construida por los Jesuitas en el Siglo XVII, está ubicada frente a la Plaza principal. Está sobre una pequeña lomada con la vista del Cristo redentor de fondo. Rodeada de hortensias coloridas que se destacan entre el verde de la vegetación. Fue fundada por la Compañía de Jesús con el nombre de Capilla de San José y tomó el nombre de Iglesia de Nuestra Señora del Rosario en 1901.</h3>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=16osJI66ueERMH1Ss8cA6APogs54zVTNx">
                <p>Cristo de La Caldera</p> 
            </div>

        </div>
    </div>
    </div>
    
    <div class="info" id="infoHistoria">
        <h2>Historia</h2>
        <div class="area-info">
        <p>La Caldera es testigo de acontecimientos históricos, siendo su Natalicio el 30 de septiembre de 1591.  El pueblo nació a mercedes de tierras cedidas a la Compañía de Jesús.  Desde la llegada de los Jesuitas, La Caldera cumplió un rol importante como espacio de articulación mercantil hacia el alto Perú y Tucumán.  Los padres cultivaron y administraron estos campos y montañas de manera que a los pocos años después, había en ellos miles de cabezas de ganado vacuno, yeguarizos, caprino y ovino.  En las guerras gauchas, la Caldera aporto el espacio físico y sus hombres, de una capa social mestiza también llamado gaucho.  Fue escenario para la lucha por la Independencia el 5 de mayo de 1817 llamada “Batalla de los Sauces”.</p>
    </div>
    </div><!--Historia--> 
    
    <div class="info" id="infoGaleria">
        <h2>Galería de fotos</h2>
        <div class="area-info">
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=1yKhG5uNAJkY-E0B2STwU37fLPhXvGjnw">
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=1raSQK_bx2V738uZ0ruaBvoK50iKGGsMc">
            </div>
        </div>
    </div>
    </div>
    <div class="info" id="infoComoLlegar">
        <h2>¿Cómo llegar?</h2>
        <div class="area-info">
        <p>Google Maps te indicará la mejor ruta a seguir en distintos vehiculos.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14510.05763238197!2d-65.39382344987416!3d-24.605949299537443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941bbecb095153ef%3A0xc2547f98bbf0117b!2sLa%20Caldera%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1703138684984!5m2!1ses-419!2sar" frameborder="0"></iframe>
    </div>
    </div>
    <div class="info" id="infoGastronomia">
        <h2>Gastronomia</h2>
        <div class="area-info">
        <p>En Calderas podrá deleitarse con los típicos platos andinos, los llamados platos “criollos” pero también con las especialidades del pueblo. Entre los más tradicionales destacan las sopas de grano, el hervido de gallina criolla, el sancocho, la pizca andina, una sopa a base de huevo, pan, leche y cilantro; pero también el pisillo de pescado con caraota y arroz y las arepas de maíz pelado y de trigo andino. Los dulces más típicos son los de nuez, de lechosa, las melcochas, elaboradas con caña de azúcar, entre otros. Tampoco faltan las bebidas caseras como la mistela de café y la leche de burra, a base de leche, huevos y alcohol o el ponche crema.</p>   
    </div>
    </div> <!--Gastronomia-->
    </div>
    <script src="/scripts/dpto.js"></script>
    <footer>
        <p>&copy; Created by Shining Pink <span id="current-year"></span></p>
    </footer>
</body>
</html>