<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>La Candelaria</title>
</head>
<body>
    <header>
        <nav> <!-- Navegacion -->  
        <ul class="menu">
            <div class="logo">
                <img src="/assets/iconos/saltacalendar_logo.png" alt="saltacalendar_logo" class="icono">
                <h1>Salta Calendar</h1>
            </div>
            <li><a href="/index.html">Calendario</a></li>
            <li><a href="/templates/lugares.html">Lugares</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
        </nav>
    </header>
    <div class="dpto">
        <h2>La Candelaria</h2>
        <div class="template">
            <div class="area-datos">
                <div class="card">Descripción
                    <p>A 222 km de la Ciudad de Salta, La Candelaria está rodeada de fincas donde predomina la agricultura y la ganadería. Conserva la tranquilidad de un típico pueblo pequeño que es hermoso de recorrer y disfrutar. Posee ríos como El Tala y el río La Candelaria, que con sus respectivos afluentes forman el río Salí de la vecina provincia de Tucumán.  La patrona del pueblo, Nuestra Señora de La Candelaria, es honrada con un gran evento cultural que convoca a numerosos fieles de distintos parajes cercanos y su fiesta se celebra en febrero.</p>
                </div>
                <div class="card">¿Sabías que...
                    <p>El 2 de febrero: Se festeja el día de la Virgen de La Candelaria con una fiesta popular que convoca a las poblaciones vecinas a participar en la procesión alrededor del pueblo, seguida de un desfile de gauchos y otras manifestaciones folclóricas en honor de la Patrona.</p>
                </div>    
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14328.394672596172!2d-65.07135776585035!3d-26.12832569015658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94188a0bcf61d513%3A0x343b829be455c04a!2sLa%20Candelaria%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1703140179467!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaEco">ECOTURISMO</div>
            <div class="card-area" id="cardAreaRel">RELIGIÓN</div>
            <div class="card-area" id="cardAreaHist">HISTORIA</div>
        </div>
        <div class="caracteristicas">
            <div class="card-area" id="cardAreaGal">GALERIA DE FOTOS</div>
            <div class="card-area" id="cardAreaLle">¿CÓMO LLEGAR?</div>
            <div class="card-area" id="cardAreaGas">GASTRONOMÍA</div>
        </div>
        <div class="template-rs">
            <img src="/assets/iconos/fa.svg" alt="facebook" class="icono">
            <img src="/assets/iconos/ins.svg" alt="instagram" class="icono">
            <img src="/assets/iconos/tw.svg" alt="twitter" class="icono">
        </div>
        <div class="info" id="infoEcoturismo">
            <h2>Ecoturismo </h2>
                <div class="area-info">
                    <h3>Flora</h3>
                    <p>Se caracteriza por la diversidad propia de la región del noroeste argentino. Entre los árboles notables se encuentran el queñoa, el algarrobo y el molle, que se adaptan a la aridez del clima. En las zonas más elevadas, prospera una variedad de cactus, como el cardón. La vegetación autóctona se mezcla con especies introducidas, y las áreas cercanas a cursos de agua albergan una rica biodiversidad, incluyendo flora ribereña. La Candelaria ofrece un paisaje donde la flora autóctona contribuye a la belleza del entorno, creando un escenario natural único y pintoresco.</p>
                    <h4>Principales especies</h4>
                    <div class="card-conteiner">
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=">
                            <img src="http://drive.google.com/uc?export=view&id=">
                        </div>
                        <div class="imagenes">
                            <img src="http://drive.google.com/uc?export=view&id=">
                            <img src="http://drive.google.com/uc?export=view&id=">
                        </div>
                    </div> 
            </div> <!--Template Flora--> 
            <div class="area-info">
                <h3>Fauna</h3>
                <p>En las áreas montañosas y valles, es posible encontrar especies como guanacos, zorros, liebres y aves rapaces como el cóndor andino. Los ríos y arroyos pueden albergar variadas especies de peces y anfibios. En entornos más secos, la presencia de reptiles, como lagartos y serpientes, es común. Además, la región es hogar de una amplia variedad de aves, desde pájaros cantores hasta aves acuáticas.</p>
                <h4>Principales especies</h4>  
                <div class="card-conteiner">
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=">
                        <img src="http://drive.google.com/uc?export=view&id=">
                    </div>
                    <div class="imagenes">
                        <img src="http://drive.google.com/uc?export=view&id=" alt="">
                        <img src="http://drive.google.com/uc?export=view&id=" alt="">
                    </div>
                </div>
        </div> <!--Template Fauna-->
    </div> <!--Ecoturismo-->
    <div class="info" id="infoReligion">
        <h2>Religion</h2>
        <div class="area-info">
        <p>La religión predominante es mayoritariamente católica, reflejando la influencia cultural de la región. La comunidad encuentra su expresión espiritual en la Iglesia Católica, donde la fe cristiana desempeña un papel central en la vida local. La iglesia principal sirve como centro de culto y comunidad. Estos lugares de adoración, a menudo de estilo colonial, son elementos destacados del paisaje urbano y testimonios de la herencia religiosa de La Candelaria. La celebración de festividades religiosas y tradiciones locales fortalece el tejido cultural y espiritual de la comunidad.</h3>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Iglesia Principal</p> 
            </div>

        </div>
    </div>
    </div>
    
    <div class="info" id="infoHistoria">
        <h2>Historia</h2>
        <div class="area-info">
        <p>Se remonta a la presencia indígena, seguida por la llegada de colonizadores españoles que dejaron su huella con encomiendas e iglesias coloniales. Durante la época independentista del siglo XIX, la región desempeñó un papel crucial. A lo largo de los años, La Candelaria ha conservado su identidad cultural, evidente en sus estructuras coloniales y arraigadas tradiciones. Este lugar encarna una narrativa fascinante que abarca desde las raíces indígenas hasta los eventos clave en la lucha por la independencia, formando así un testimonio histórico rico y diverso.</p>
        <h3>Pueblos Originarios</h3>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=">
                <img src="http://drive.google.com/uc?export=view&id=">
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=">
            </div>
        </div>
    </div>
    </div><!--Historia--> 
    
    <div class="info" id="infoGaleria">
        <h2>Galería de fotos</h2>
        <div class="area-info">
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
        </div>
        <div class="card-conteiner">
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
            <div class="photo">
                <img src="http://drive.google.com/uc?export=view&id=">
                <p>Titulo</p>
            </div>
        </div>
    </div>
    </div>
    <div class="info" id="infoComoLlegar">
        <h2>¿Cómo llegar?</h2>
        <div class="area-info">
        <p>Google Maps te indicará la mejor ruta a seguir en distintos vehiculos.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14328.394672596172!2d-65.07135776585035!3d-26.12832569015658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94188a0bcf61d513%3A0x343b829be455c04a!2sLa%20Candelaria%2C%20Salta!5e0!3m2!1ses-419!2sar!4v1703140179467!5m2!1ses-419!2sar" frameborder="0"></iframe>
    </div>
    </div>
    <div class="info" id="infoGastronomia">
        <h2>Gastronomia</h2>
        <div class="area-info">
        <p>Se destacan platos emblemáticos como las empanadas salteñas, tamales y humitas, rellenos de maíz y carnes locales. La cocina local incorpora ingredientes autóctonos como quinoa, papas y hierbas regionales, creando sabores únicos. El asado argentino, con carnes de calidad, es también una delicia común. Postres tradicionales, como dulces regionales y quesillos, complementan la experiencia gastronómica.</p>   
        <h3>Platos principales</h3>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
        </div>
        <div class="card-conteiner">
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
            <div class="imagenes">
                <img src="http://drive.google.com/uc?export=view&id=" >
                <p>Plato</p> 
            </div>
        </div>
    </div>
    </div> <!--Gastronomia-->
    </div>
    <script src="/scripts/dpto.js"></script>
    <footer>
        <p>&copy; Created by Shining Pink <span id="current-year"></span></p>
    </footer>
</body>
</html>