@font-face {
  font-family: "Poppins Regular";
  src: url(/Fuentes/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Thin";
  src: url(/Fuentes/Poppins-Thin.ttf);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el contenido cubra al menos toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Permite que el footer se quede en la parte inferior */
}
header {
  padding: 25px;
  background-image: url("/assets/Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 20vh; /* Ajusta la altura según tus necesidades */
}
header h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  align-items: center; /* Centra verticalmente los elementos */
  margin-left: 30px;
}
/* Estilo para el menú */
.menu {
  color: #fff;
  padding: 25px;
  display: flex;
  justify-content: flex-end; /* Alinea los elementos en el extremo derecho */
  align-items: center;
  gap: 50px;
  flex-shrink: 0;
  list-style: none;
}

.menu a {
  color: #f6f1f1;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu a.active,
.menu a:hover {
  text-shadow: 0 0 4px;
}

.contacto {
    background-color: #f5f5ec;
    height: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-contacto {
    display: flex;
    background-color: white;
    height: 800px;
    width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin: auto;
    padding: 30px;
    border-radius: 25px;
  }
  .myform {
    padding: 20px 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .myform h2 {
    font-family: "Poppins Regular", serif;
    font-size: 30px;
    color: #796c86;
    font-weight: 600;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px #75717a;
  }
  .myform p {
    font-family: "Poppins Regular", serif;
    font-size: 16px;
    color: #969eae;
    margin-bottom: 25px;
  }
  .myform input{
    border-radius: 7px;
  }
  .myform textarea{
    border-radius: 7px;
  }

  .contacto label {
    font-family: "Poppins Regular", serif;
    font-size: 15px;
    color:#3E215D;
    margin-bottom: 15px;
  }
  .box {
    border: 1px solid #574f60;
    background-color: #f6f5cd;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none;
  }
  .submit {
    background-color: #796c86;
    padding: 10px;
    color: #f6f5cd;
    border: 2px solid #ccbcde;
    box-shadow: 3px 3px 5px #574f60;
    font-family: "Poppins Regular", serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    width: 250px;
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .info {
    padding: 50px;
  }
  .info iframe {
    width: 300px;
    height: 300px;
    margin-bottom: 25px;
    background-color: #f6f5cd;
    border-radius: 20px;
  }
  .location {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  .icons {
    display: flex;
    margin-bottom: 31px;
  }
  .icons img {
    width: 20px;
    margin-right: 10px;
  }
  .icons p {
    font-family: "Poppins Regular";
    font-size: 14px;
    color:#3E215D;
  }
  .social {
    display: flex;
  }
  .social img {
    width: 50px;
    margin-right: 60px;
  }
/* Estilo para el footer */
  footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #557654;
  color: white;
  text-align: center;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }