* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.prueba {
    background-color: #70d46c;
    width: 100%;
}

.main-container {
    background-color: aqua;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.Contenedor {
    background-color: transparent;
    height: 100%;
    margin: 5%;
    justify-content: center;
    align-items: center;
}

.Card-container {
    height: 300px; /* Establece una altura fija para las tarjetas */
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 460px;
    height: 100%; /* Ocupa toda la altura del contenedor */
    border-radius: 30px;
    margin: 0 10px;
    overflow: hidden;
    border: 1px #557654 solid;
    display: inline-flex;
    cursor: pointer;
    background-color: orange;
}

.card img {
    width: 100%; /* Ajusta el tamaño máximo de la imagen */
    height: 100%;
    
    
}

