/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el contenido cubra al menos toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Permite que el footer se quede en la parte inferior */
}

/* Contenido Principal */
main {
  flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
  max-width: 1140px; /* Limite Pantallas XL */
  margin: 1rem auto; /* root EM (Ancho de "M" en la Raiz HTML) */
  padding: .5rem;
}

header, footer {
  background: linear-gradient(#350a06, #56070c, #8f3d38);
  color: white;
  text-align: center;
  padding: 10px;
}

header h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  background: #a87bc7;
  list-style: none;
}

.menu a {
  color: #f6f1f1;
  text-decoration: none;
}

.menu a.active,
.menu a:hover {
  text-shadow: 0 0 4px;
}

.calendar {
  width: 300px;
  margin: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.day:hover {
  background-color: #f0f0f0;
}

.event-card,
.event-details {
  display: none;
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  position: absolute;
  background-color: white;
  z-index: 2;
}

.event-details {
  background-color: lightgray;
}

/* Estilo para el footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
