*{
    font-family: Poppins;
    margin: 0%;
    padding: 0%;
}
@media only screen and (min-width: 375px) and (max-width: 600px) {
    body {
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column; 
        background-color: #f5f5ec;
    }
    main{
        margin: 1rem auto; 
        padding: .5rem;
        display: flex;
        justify-content: space-between; 
    }   
    header{
        padding: 10px;
        background-color: #557654;
        height: 65px; 
        width: 100%;     
    }   
    .logo{
        display: flex;
        gap: 5px; 
        align-items: center;
    }
    .menu {
        color: #fff;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center; 
        gap: 10px;
        flex-shrink: 0;
        list-style: none;
        margin: 0;
}
    .menu a {
        color: #f6f1f1;
        text-decoration: none;
        font-size: 12px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
    .menu a.active, .menu a:hover {
        text-shadow: 0 0 2px #57364E;
        color: #57364E;
        font-weight: 600;
}
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        gap: 3em;
}
    .header button{
        background-color: rgba(85, 118, 84, 0.80);
        padding: 0.3em;
        border-radius: 0.4em;
        border: 0.2em solid #557654;
        color: #57364E;
}
    h1{
        font-size: 15px;
}   
    .calendar {
        width: 100%; 
        padding: 2px;
        margin-left: 1em;
        color: #57364E;
}
    .header div{
        display: flex;  
        gap: 1em;
}
    .header h2{
        font-size: 10px;
}
    #prev, #next {
        border-radius: 3px;
        border: 1px solid #57364E;
        justify-content: start;
        text-align: start;
        align-items: start;
        font-size: 10px;
        background-color: #57364E;
        color: #FFF;
        cursor: pointer; 
}
    #daysContainer {
        display: grid;
        grid-template-columns: repeat(7, 0.05fr);
        gap: 0.2em;
        margin-bottom: 1em;
}
    .day {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 3.3em;
        height:3.5em;
        border-radius: 10px;
        border: 1px solid #557654;
        color: #FFF;
        background-color: rgba(85, 118, 84, 0.80);
        cursor: pointer;
}
    .day:hover {
        background-color:#57364E;
}
.has-events {
    background-color: #57364E; 
    color: #fff; 
    font-weight: bold;
    cursor: pointer;
}
    .days-of-week-container {
        display: flex;
        justify-content: start;
        display: flex;
        gap: 1.9em;
        margin-bottom: 1em;  
} 
    .day-of-week {
        text-align: center;
}
    .span {
        font-size: 12px;
        color: #888;
}
    #eventCard{
        width: 80%;
        border-radius: 30px;
        border: 1px solid #557654;
        background: #57364E;
        padding: 1.5em;
        color: #FFF;
        font-size: 1em;
        display: flex;
        gap: 0.2em;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}     
    #eventDate{
        color: #FFF;
        font-size: medium;
}
    #eventList{
        margin-left: 0.5em;
        font-size: medium;
}
    #eventList iframe{
        width: min-content;
        height: fit-content;
        margin: 0 auto;
}
    footer {
  
        background-color: #557654;
        color: white;
        text-align: center;
        padding: 25px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-top: 10%;
    } 
    h2{
        margin: 10%;
        color: #557654;
}
    .card{
        width: 100%;
        height: 50%;
        display: flex;
        border: 1px solid #557654;
        border-radius: 30px;
        flex-direction: column;
        padding: 15px;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        margin: 5px;
        font-size: 14px;
        color: #557654;
} 
    iframe{
        width: 100%;
        height: 300px;
        border-radius: 30px;
        margin: 35px;
        display: flex;
        flex-shrink: 0;
}
    .area-datos{
        flex-direction: column; 
} 
    .template{
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }  
    .caracteristicas{
        display: grid;
        grid-template-columns: repeat(1, 0.1fr);
        gap: 20px;
        padding: 10px;
        margin-left: 40px;
        margin-top: 50px;   
}  
    .card-area{
        display: flex;
        width: 90%;
        height: 200px;
        padding: 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 30px;
        background: rgba(85, 118, 84, 0.80);
        color: #FFF;
        font-weight: 600;
        font-family: Poppins;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
}
    .card-area:hover{
        background-color: #57364E;
        transform: scale(1.05);
}
    .card-conteiner {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 80%;
        height: auto;
} 
    .card-conteiner img {
        width: 100%;
        height: 300px;
        border-radius: 30px;
}
    .icono{
        width: 50px;
        height: 50px;
        padding: 10px;
}
    h4{
        color: #557654;
}
    .area-info{
        width: 100%;
        margin: 50px;
        display: flex;
        flex-direction: column;
        color: #557654;
        gap: 20px;
        font-size: 15px;
        font-family: Poppins;
} 
    .info{
        width: 80%;
}    
    .template-rs{
        display: grid;
        grid-template-columns: repeat(4, 0.1fr);
        margin: 70px;
        gap: 10px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 999px) {
    body {
        margin: 0 auto;
        padding: 0;
        display: flex;
        flex-direction: column; 
        background-color: #f5f5ec;
    }

    main{
        margin: 1rem auto; 
        display: flex;
        justify-content: space-between;
    }
    
    header{
        padding: 10px;
        background-color: #557654;
        height: 70px; 
        width: 100%;     
    }
    
    .logo{
        display: flex;
        gap: 5px; 
        align-items: center;
    }
        /* Estilo para el menú */
    .menu {
        color: #fff;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center; 
        gap: 10px;
        flex-shrink: 0;
        list-style: none;
        margin: 0;
    }
    .menu a {
        color: #f6f1f1;
        text-decoration: none;
        font-size: 18px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
      
    .menu a.active,
    .menu a:hover {
        text-shadow: 0 0 2px #57364E;
        color: #57364E;
        font-weight: 600;
    }
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
        gap: 3em;
    }
    .header button{
        background-color: rgba(85, 118, 84, 0.80);
        padding: 0.3em;
        border-radius: 0.4em;
        border: 0.2em solid #557654;
        color: #57364E;
    }

    h1{
        font-size: 18px;
        margin-right: 20px;
    }
    
    /* Estilo para el calendario */
.calendar {
    width: 100%; /* Ancho del calendario */
    padding: 2px; /* Espaciado interior */
    margin-left: 1em;
    color: #57364E;
}

.header div{
    display: flex;  
    gap: 1em;
}

.header h2{
    font-size: 30px;
}
#prev, #next {
    border-radius: 3px;
    border: 1px solid #57364E;
    justify-content: start;
    text-align: start;
    align-items: start;
    font-size: 10px;
    background-color: #57364E;
    color: #FFF;
    cursor: pointer; 
}
#daysContainer {
    display: grid;
    grid-template-columns: repeat(7, 0.5fr);
    gap: 0.2em;
    margin-bottom: 1em;
}
.day {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 4.5em;
    height:4.5em;
    border-radius: 10px;
    border: 1px solid #557654;
    color: #FFF;
    background-color: rgba(85, 118, 84, 0.80);
    cursor: pointer;
}
.day:hover {
    background-color:#57364E;
}
.has-events {
    background-color: #57364E; 
    color: #fff; 
    font-weight: bold;
    cursor: pointer;
}
.days-of-week-container {
    display: flex;
    justify-content: start;
    display: flex;
    gap:3.2em;
    margin-bottom: 1em;  
}
  
.day-of-week {
    text-align: center;
}
 
.span {
    font-size: 20px;
    color: #888;
}

#eventCard{
    width: 90%;
    border-radius: 30px;
    border: 1px solid #557654;
    background: #57364E;
    padding: 1.5em;
    color: #FFF;
    font-size: 1em;
    display: flex;
    gap: 0.2em;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
      
#eventDate{
    color: #FFF;
    font-size: medium;
}
#eventList{
    margin-left: 0.5em;
    font-size: medium;

}

#eventList iframe{
    width: min-content;
    height: fit-content;
    margin: 0 auto;
}
/* Estilo para el footer */
footer {
  
    background-color: #557654;
    color: white;
    text-align: center;
    padding: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10%;
    }
  
h2{
    margin: 5px 5px 0px 5px;
    color: #557654;
}
.card{
    width: 100%;
    height: 50%;
    display: flex;
    border: 1px solid #557654;
    border-radius: 30px;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 30px 0px 0px 50px;
    font-size: 20px;
    color: #557654;
}
  
iframe{
    width: 100%;
    height: 340px;
    border-radius: 30px;
    margin: 30px 60px 0px 30px;
    display: flex;
    flex-shrink: 0;
}
.area-datos{
    
    flex-direction: column; 
}
  
.template{
    margin: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
.caracteristicas, .card-conteiner{
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 50px;   
}
  
.card-area{
    display: flex;
    width: 30%;
    height: 260px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background: rgba(85, 118, 84, 0.80);
    color: #FFF;
    font-weight: 600;
    font-family: Poppins;
    cursor: pointer;
}

.card-conteiner {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    height: auto;
}
  
.card-conteiner img {
    width: 100%;
    height: 500px;
    border-radius: 30px;
}
  
.icono{
    width: 50px;
    height: 50px;
    padding: 10px;
}
  
h4{
    color: #557654;
}
  
.area-info{
    width: 100%;
    margin: 60px;
    display: flex;
    flex-direction: column;
    color: #557654;
    gap: 20px;
    font-size: 20px;
    font-family: Poppins;
}
  
.info{
    width: 95%;
}
 
  }
  .template-rs{
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
    margin: 70px;
    gap: 10px;
}

@media only screen and (min-width: 1000px) {  

body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column; 
    background-color: #f5f5ec;
}
  
main{
    margin: 1rem auto; /* root EM (Ancho de "M" en la Raiz HTML) */
    padding: .5rem;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
}
header{
    padding: 25px;
    background-color: #557654;
    height: 70px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.logo{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 100px;}
 
.menu {
    color: #fff;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 40px;
    flex-shrink: 0;
    list-style: none;

    
    }
    
.menu a {
    color: #f6f1f1;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  
.menu a.active,
.menu a:hover {
    text-shadow: 0 0 2px #57364E;
    color: #57364E;
    font-weight: 600;
}
  
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    gap: 30em;
    
}
.header button{
    background-color: rgba(85, 118, 84, 0.80);
    padding: 0.5em;
    border-radius: 0.4em;
    border: 0.2em solid #557654;
}
  
/* Estilo para el calendario */
.calendar {
    width: 90%; /* Ancho del calendario */
    padding: 10px; /* Espaciado interior */
    margin: 1em 0;
    color: #57364E;
}

.calendar h2{
    margin: 0.5em;
}
.header div{
    display: flex;
    gap: 0.5em;
}
.prev, .next {
    border-radius: 10px;
    border: 1px solid #57364E;
    /* margin: 40px 0px 10px 10px; */
    width: 10rem;
    height: 5rem;
    padding: 22px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    background-color: #57364E;
    color: #FFF;
    cursor: pointer; 
}
#daysContainer {
    display: grid;
    grid-template-columns: repeat(7, 0.5fr);
    gap: 1em;
    margin-bottom: 2em;
}
.day {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 6.8em;
    height:7em;
    border-radius: 10px;
    border: 1px solid #557654;
    color: #FFF;
    background-color: rgba(85, 118, 84, 0.80);
    cursor: pointer;
}
.day:hover {
    background-color:#57364E;
}
.has-events {
    background-color: #57364E; 
    color: #fff; 
    font-weight: bold;
    cursor: pointer;
}
 
#eventCard{
    width: 100%;
    border-radius: 30px;
    border: 1px solid #557654;
    background: #57364E;
    padding: 1.5em;
    color: #FFF;
    font-size: 1em;
    display: flex;
    gap: 0.2em;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
      
#eventDate{
    color: #FFF;
}
#eventList{
    margin-left: 3em;
}

/* Estilos para los días de la semana */
.days-of-week-container {
    display: flex;
    gap:5em;
    justify-content: center;
}
  
.day-of-week {
    flex: 1;
    text-align: center;
}
section {
    margin: 30px;
    display: flex;
}
  

  
.span {
    font-size: 12px;
    color: #888;
}
  
.btn{
    display: flex;
    border-radius: 10px;
    border: 1px solid #57364E;
    margin: 40px 0px 10px 10px;
    width: 495px;
    height: 50px;
    padding: 22px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    background-color: #57364E;
    color: #FFF;
    cursor: pointer;
}
  
.event-card{
    width: 650px;
    height: 300px;
    border-radius: 30px;
    border: 5px solid #557654;
    background: #57364E;
    margin: 0 auto;
    padding: 30px;
    color: #FFF;
    font-size: 18px;
    display: flex;
}

/* Estilo para el footer */
footer {
  
    background-color: #557654;
    color: white;
    text-align: center;
    padding: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0.3, 0, 0.3);
    }
  
h2{
    margin: 50px 50px 0px 60px;
    color: #557654;
}
.card{
    width: 86%;
    height: 50%;
    display: flex;
    border: 1px solid #557654;
    border-radius: 30px;
    flex-direction: column;
    padding: 25px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin: 30px 0px 0px 50px;
    font-size: 20px;
    color: #557654;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
  
iframe{
    width: 430px ;
    height: 340px;
    border-radius: 30px;
    margin: 30px 60px 0px 30px;
    display: flex;
    flex-shrink: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.area-datos{
    flex-direction: column; 
}
  
.template{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.caracteristicas, .card-conteiner{
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-left: 40px;
    margin-top: 50px;   
}
  
.card-area{
    display: flex;
    width: 30%;
    height: 260px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    background: rgba(85, 118, 84, 0.80);
    color: #FFF;
    font-weight: 600;
    font-family: Poppins;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


.card-area:hover{
    transform: scale(1.05); 
    background-color: #57364E;
    opacity: 1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.card-conteiner {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    height: auto;
}
  
.card-conteiner img {
    width: 100%;
    border-radius: 30px;
}
  
.icono{
    width: 50px;
    height: 50px;
    padding: 10px;
}
  
h4{
    color: #557654;
}
  
.area-info{
    width: 100%;
    margin: 60px;
    display: flex;
    flex-direction: column;
    color: #557654;
    gap: 20px;
    font-size: 20px;
    font-family: Poppins;
}
  
.info{
    width: 95%;
}
.template-rs{
    display: grid;
    grid-template-columns: repeat(4, 0.1fr);
    margin: 30px 0px 30px 600px;
    gap: 50px;
}

.dpto h2{
    margin-left: 100px;
}
}