/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Asegura que el contenido cubra al menos toda la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Permite que el footer se quede en la parte inferior */
  background-color:#f5f5ec;
}
/* Contenido Principal */
main {
  flex-grow: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
  max-width: 1140px; /* Limite Pantallas XL */
  margin: 1rem auto; /* root EM (Ancho de "M" en la Raiz HTML) */
  padding: .5rem;
}
header {
  padding: 25px;
  background-image: url("/assets/Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 20vh; /* Ajusta la altura según tus necesidades */
}
header h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  align-items: center; /* Centra verticalmente los elementos */
  margin-left: 30px;
}
/* Estilo para el menú */
.menu {
  color: #fff;
  padding: 25px;
  display: flex;
  justify-content: flex-end; /* Alinea los elementos en el extremo derecho */
  align-items: center;
  gap: 50px;
  flex-shrink: 0;
  list-style: none;
}

.menu a {
  color: #f6f1f1;
  text-decoration: none;
  font-size: 20px;
}

.menu a.active,
.menu a:hover {
  text-shadow: 0 0 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header button{
  background-color:palevioletred;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3E215D;
}
/* Estilo para el contenido principal */
main {
  display: flex; /* Utiliza un contenedor flexible */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
}

/* Estilo para el formulario */
.formulario {
  width: 30%; /* Ancho del formulario */
  padding: 20px; /* Espaciado interior */
  border: 1px solid #ccc; /* Borde para el formulario */
  margin: 50px;
}

/* Estilo para el calendario */
.calendar {
  width: 65%; /* Ancho del calendario */
  padding: 20px; /* Espaciado interior */
  border: 1px solid #ccc; /* Borde para el calendario */
  margin: 50px;
  color: #3E215D;
  background-color: white;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.day:hover {
  background-color:palevioletred;
}

.event-card,
.event-details {
  display: none;
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  background-color: white;
  z-index: 1;
}

.event-details {
  background-color: lightgray;
}
h2 {
  margin: 30px;
}
section {
  margin: 30px;
  display: flex;
}

.formulario {
  background-color: #fff;
  border-radius: 5px;
  width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-element {
  position: relative;
  margin: 5px;
}

.input {
  position: relative;
  padding: 7px;
  border: none;
  border: 1px solid #3E215D;
  border-radius: 7px;
  outline: none;
  font-size: 16px;
  width: 480px;
  height: 30px;
}

.span {
  font-size: 12px;
  color: #888;
}

/* Estilo para el footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: url("/assets/Header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 10px;
}
